.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: rgb(219, 221, 223);
}

.image {
  max-width: 75%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.title {
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 6vw;
}

.text {
  font-size: 18px;
  text-align: center;
}

.link {
  color: rgb(1, 145, 202);
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 20px; /* Tamanho da fonte específico para telas menores que 450px */
  }
}

@media (min-width: 550px) {
  .title {
    font-size: 30px; /* Tamanho máximo de 30 pixels para telas maiores que 1200px */
  }
}
